.container-editar-perfil
{
    width: 37%;
    height: 80%;
    position: absolute;
    margin-left: 20%;
    top: 10%;
    font-family: 'Roboto', sans-serif;
}

.container-editar-perfil h1
{
    font-size: 3vh;
}
.container-editar-perfil-tabs
{
    width: 100%;
    height: 5%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    border: 2px solid #88c1fa;
}
.btn-editar-pefil
{
    width: 30%;
    height: 100%;
    border: none;
    background-color: white;
    border: none;
    color: #80bbe3;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}
#btn-editar-pefil
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#btn-editar-senha
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn-editar-pefil:focus
{
    background-color: #017aff;
    color: #b1f7fc;
}

#tab-editar-perfil
{
    width: 100%;
    height: 62%;
    position: absolute;
    top: 20%;
    display: none;

}

input[type=text] 
{
    width: 100%;
    padding: 1.5% 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

#alerta
{
    color: red;
    position: absolute;
    font-size: 2vh;
}

#btn-atualizar-perfil
{
    width: 25%;
    height: 10%;
    background-color: white;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid #b8dfea;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}
#btn-atualizar-perfil:hover
{
    background-color: #b8dfea;
}
#tabs-editar-foto
{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: space-evenly;
}

#tabs-editar-foto form
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#tabs-editar-foto img
{
    width: 35%;
    height: 100%;
    float: left;
}
#container-btn-upload-imagem
{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#container-btn-upload-imagem button
{
    width: 100%;
    height: 20%;
    border: none;
    background-color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    border: 1px solid #80bbe3;
    border-radius: 10px;
}
#container-btn-upload-imagem button:hover
{
    background-color: #80bbe3;
}

#btn-editar-pefil:focus #tab-editar-perfil
{
    display: block;
}
#alerta-erro
{
    width: 100%;
    height: 7%;
}

@media screen and (max-width: 767px) {
    .container-editar-perfil
    {
        width: 100%;
        margin-left: 0%;
        font-size: 2vh;
    }
    #formulario-atualizar-foto img
    {
        width: 35%;
        height: 75%;
        float: left;
    }
}
#alertar-error-sucesso
{
    top: 50%;
    position: absolute;
}
#formulario-editar-foto
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
#tab-editar-perfil form
{
    width: 100%;
    height: 100%;
}
#container-alertar-perfil
{
    position: absolute;
    top: 80%;
    width: 50%;
    height: 10%;
}
.alertar-mensagem
{
    width: 100%;
    height: 100%;
    background-color: #dbf8e8;
    padding: 3%;
    border: 2px solid #dbf8e8;
    color: #7ccc9e;
    border-radius: 20px;
    text-align: center;
    font-size: 80%;
    display: flex;
    align-items: center;
    border: 2px solid green;
}